@using System.Web.Optimization
@model eUseControl.Models.UserRegister
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageStyle {
    @Styles.Render("~/bundles/assets/css/register")
}
<div class="account-pages pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <a href="/">
                                <span>TanySher</span><!-- <img src="assets/images/logo-light.png" alt="" height="22"> -->
                            </a>
                            <p class="text-muted mb-4 mt-3">Nu aveți cont? Creează-ți propriul cont, durează mai puțin de un minut</p>
                        </div>
                        <script>
                            function onSuccess() {
                                alert("Inregistrare cu succes");
                            }
                            function onFailure() {
                                alert("Inregistrarea a eșuat");
                            }
                        </script>

                        @using (Ajax.BeginForm("Index", "Register", null, new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "register-form",
                            OnSuccess = "onSuccess",
                            OnFailure = "onFailure"
                        }, new { id = "register-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.LabelFor(x => x.FullName)
                                @Html.TextBoxFor(x => x.FullName, new
                                {
                                    @class = "form-control",
                                    placeholder = "Introduce-ți numele",
                                    id = "",
                                    name = "name"
                                })
                                @Html.ValidationMessageFor(x => x.FullName)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.EmailAddress)
                                @Html.TextBoxFor(x => x.EmailAddress, new
                                {
                                    @class = "form-control",
                                    placeholder = "Introduce-ți adresa de email",
                                    id = "",
                                    name = "email"
                                })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Password)
                                @Html.TextBoxFor(x => x.Password, new
                                {
                                    @class = "form-control",
                                    placeholder = "Introduce-ți parola",
                                    id = "",
                                    name = "password"
                                })
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary btn-block" type="submit"> Înregistrare </button>
                            </div>
                        }

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                                <label class="custom-control-label" for="checkbox-signup">Accept <a href="javascript: void(0);" class="text-dark">Termeni și condiții</a></label>
                            </div>
                        </div>





                        <div class="text-center">
                            <h5 class="mt-3 text-muted">Înregistrați-vă folosind</h5>
                            <ul class="social-list list-inline mt-3 mb-0">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Aveți deja cont?  <a href="@Url.Action("Login", "Home")" class="text-muted font-weight-medium ml-1">Autentificare</a></p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->
